*,
*::before,
*::after{

  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{

  color: black;
}

main .card_container .card{

  height: 35rem;
}

main .card_container .card img{ 

  object-fit: contain;
  background-position: center;
}